@charset "utf-8"
*{
    font-family: Arial, Helvetica, sans-serif;
   height: 100%;
}
body{
    background-image: linear-gradient(to bottom,#a52600,#e76227);
}
main{
    background-color: rgb(211, 187, 187);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(61, 4, 4);
    width: 500px;
    padding: 1px;
    margin: auto;
}
h1 {
        color: #d8753b;
        text-align: center;
        text-shadow: 1px 2px 1px rgb(52, 8, 8)
    }
h2{
    color: #482014;
    text-shadow: 1px 1px 1px rgb(52, 8, 8)
}    

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}